.details-card {
    margin: 2%;
    border: 1px solid #424242;
    border-radius: 10px;
    padding: 2%;
    font-size: 16px;
    background-color: #fff8f7;
    -webkit-box-shadow: 4px 5px 7px 1px #000000; 
    box-shadow: 4px 5px 7px 1px #000000;
}

.btn-light {
    margin-right: 8px;
}