
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="row">
    <div class="col-md-8">
      <img class="active-link" routerLink="/" width="50" alt="Patient App Logo" src="../assets/Patient-icon-by-hellopixelzstudio.png"/>
      <span class="active-link" routerLink="/">Patients App</span>
    </div>
    <div class="col-md-4">
      <nav class="mt-2">
        <a routerLink="home" [routerLinkActive]="['active']">Home</a>
        <a routerLink="list" [routerLinkActive]="['active']">Patient Management</a>
        <a routerLink="add" [routerLinkActive]="['active']">Add Patient</a>
      </nav>
    </div>
  </div>
</div>

<div class="content" role="main">
<app-home *ngIf="router.url === '/'"></app-home>

</div>


<router-outlet></router-outlet>
