
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="row">
    <div class="col-md-8">
      <img routerLink="/" width="50" alt="Patient App Logo" src="../assets/Patient-icon-by-hellopixelzstudio.png"/>
      <span routerLink="/">Patients App</span>
    </div>
    <div class="col-md-4">
      <nav class="mt-2">
        <a routerLink="list">Patient List</a>
        <a routerLink="add">Add Patient</a>
      </nav>
    </div>
  </div>
</div>

<div class="content" role="main">


</div>


<router-outlet></router-outlet>
