

.page-content {
    padding-top: 2%;
}

.right-button {
    background-color: #4ECDC4;
}

.right-button:hover {
    background-color: #91fff7;
}


.row {
    max-width: 100%;
}


.active {
    text-decoration: underline;
}