<div class="home-page">
    <div class="row">
        <div class="col-lg-12">
            <h1>Home</h1>
        </div>
    </div>
    <div class="option-panel">
        <div class="row" *ngIf="loaded1">
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="chart-box">
                    <canvas baseChart class="chart mt-2"
                        [data]="pieChartData"
                        [type]="pieChartType"
                        [options]="pieChartOptions"
                        >
                    </canvas>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
                <div class="chart-box">
                    <canvas baseChart class="chart"
                        [data]="barChartData"
                        [options]="barChartOptions"
                        [type]="barChartType"
                    >
                    </canvas>
                </div>
            </div>

        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="panel-button" routerLink="list">
                    <mat-icon aria-hidden="false" aria-label="List" fontIcon="list"></mat-icon>
                    See Patient list
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-button" routerLink="add">
                    <mat-icon aria-hidden="false" aria-label="Add" fontIcon="person_add"></mat-icon>
                    Add Patient
                </div>
            </div>
        </div>
    </div>
</div>
