.panel-button {
    height: 120px;
    width: 100%;
    border-radius: 10px;
    padding: 2%;
    background-color: #EAF6FF;
    color: #191919;
    text-align: center;
    vertical-align: middle;
    font-size: 28px;
    border: 1px solid #33B4FF;
    padding-top: 5%;
}

mat-icon {
    font-size: 28px;
    width: 28px;
}

.panel-button:hover {
    cursor: pointer;
    background-color: #dff1fe;
}

img {
    width: 100%;
}

h1 {
    color: #32373B;
    font-size: 30px;
    margin: 2% 5%;
}

.option-panel {
    margin: 1% 5%;
}