<div class="home-page">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h1>Home</h1>
            </div>
            <img src="../../assets/cells-1872666_1280.jpg" alt="cells image">
        </div>
    </div>
    <div class="option-panel">
        <div class="row">
            <div class="col-md-6">
                <div class="panel-button" routerLink="list">
                    <mat-icon aria-hidden="false" aria-label="List" fontIcon="list"></mat-icon>
                    See Patient list
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-button" routerLink="add">
                    <mat-icon aria-hidden="false" aria-label="Add" fontIcon="person_add"></mat-icon>
                    Add Patient
                </div>
            </div>
        </div>
    </div>
</div>
